<app-navbar></app-navbar>
<div class="container p-3">
  <div class="row g-3">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">CourseTitle</th>
            <th scope="col">Venue</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of data ; let indexOfelement=index;" >
            <th scope="row">{{indexOfelement+1}}</th>
            <td>{{i.courseTitle}}</td>
            <td>{{i.courseVenue}}</td>
            <td>{{i.courseDate}}</td>
            <td><button (click)="deleteEvent(i._id)" class="btn btn-danger">Delete</button></td>
          </tr>
          
        </tbody>
      </table>
      
    </div>
  </div>
</div>
